@use '../../styles/main'as *;

.timeInput {
  width: fit-content !important;

  .inputField {
    background-color: $input-bg;
    border: 1px solid transparent;
    letter-spacing: 1px;
    width: 8em;
    padding: 0 0 0 2.85em;
    font-size: 1em;

    &.delayed {
      border: $input-delayed-border;
    }
  }
}
