@use '../../../styles/main' as *;

.eventBlock {
  // layout
  display: grid;
  grid-template-areas: "binder pb-actions info options";
  grid-template-columns: 4ch auto 1fr auto;

  // style - general
  border-radius: 3px;

  // style - colour
  background-color: $bg-gray-1000;

  // style - text
  .binder {
    // layout
    grid-area: binder;
    height: 100%;
    display: grid;
    place-content: center;

    // style - text

    // style - colour
    background-color: white; // override inline
    color: black;
  }

  .progressBg {
    // layout
    display: none;
    height: 100%;
    width: 0;

    // style - colour
    background-color: $ontime-accent;
  }

  .playbackActions {
    // layout
    grid-area: pb-actions;
    display: flex;
    flex-direction: column;
  }

  .eventInfo {
    grid-area: info;

    .eventTimers {
      display: flex;
      gap: 4px;
    }

    .eventTitle {
      display: block;

    }

    .eventNote {
      display: block;
      color: #dd6b20;
    }
  }

  .eventOptions {
    grid-area: options;

    .eventPlayback {

    }

    .eventActions {

    }
  }
}