@use '../../../styles/main' as *;

$element-spacing: 4px;
$binder-width: 40px;
$clearance: 8px;

.eventBlock {
  // layout
  display: grid;
  grid-template-areas:
          "binder ...        ...   ...    "
          "binder pb-actions times actions"
          "binder pb-actions title title  "
          "binder pb-actions notes status "
          "binder progb      progb progb  ";
  grid-template-columns: $binder-width auto 1fr auto;
  grid-template-rows: $element-spacing 36px 36px 36px $element-spacing;
  align-items: center;
  padding-right: $clearance;

  // style - general
  border-radius: 3px;
  gap: 2px;

  // style - colour
  border: $block-border;
  background-color: $bg-gray-1000;

  // style - text


  // variant
  &.skip {
    .eventTimers > .delayNote,
    .eventTitle,
    .eventNote,
    {
      color: $text-gray-disabled;
    }

    .binder,
    .eventTimers,
    .eventStatus{
      opacity: $opacity-disabled;
    }
  }

  .progressBg {
    grid-area: progb;
    border-radius: 1px;

    // layout
    height: 100%;

    .progressBar {
      // layout
      height: 100%;
      width: 0;
      border-radius: 1px 0 0 1px;

      // animations
      transition: 1s linear;
      transition-property: width;

      &.play {
        background-color: $ontime-accent;
      }

      &.pause {
        background-color: gray;
      }
    }

    &.play {
      // style - colour
      border-bottom: 1px solid $ontime-accent;
    }

    &.pause {
      // style - colour
      border-bottom: 1px solid gray;
    }
  }


  .binder {
    // layout
    grid-area: binder;
    height: 100%;
    display: grid;
    place-content: center;
    position: relative;

    // style - general
    border-radius: 3px 0 0 3px;

    // style - colour
    background-color: white; // override inline
    color: black;

    // style - text

    .drag {
      position: absolute;
      text-align: center;
      font-size: 24px;
    }
  }

  .playbackActions {
    // layout
    grid-area: pb-actions;
    display: flex;
    flex-direction: column;
    margin: $element-spacing $clearance $element-spacing $element-spacing;
    // style - general
    gap: 6px;
  }

  .eventTimers {
    grid-area: times;
    display: flex;
    align-items: center;
    gap: $clearance;
    height: 100%;

    .delayNote {
      font-size: 10px;
      color: $text-delay;
    }
  }

  .eventTitle {
    grid-area: title;
    display: block;
    font-size: 20px;
  }

  .eventNote {
    grid-area: notes;
    display: block;
    font-size: 12px;
    color: $notes-color;
  }

  .eventActions {
    grid-area: actions;

    display: flex;
    gap: $element-spacing;
    justify-content: flex-end;
  }

  .eventStatus {
    grid-area: status;

    display: flex;
    justify-content: flex-end;
    gap: $element-spacing;

    .statusIcon {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      padding: 4px;
      color: $text-gray-disabled;
    }

    .statusIcon.statusNext {
      &.enabled {
        color: $ontime-accent;
        background-color: $bg-gray-1100;
      }
    }

    .statusIcon.statusDelay {
      &.enabled {
        color: $text-white;
        background-color: $ontime-delay;
      }
    }

    .statusIcon.statusAutomation {
      &.enabled {
        color: $text-white;
        background-color: $ontime-roll;
      }
    }
  }

  .eventOptions {
    margin: $element-spacing 16px $element-spacing 0;
  }
}