@use '../../../styles/main' as *;

$element-spacing: 4px;

.eventBlock {
  // layout
  display: grid;
  grid-template-areas:
          "binder pb-actions times actions"
          "binder pb-actions title title"
          "binder pb-actions notes status";
  grid-template-columns: 40px auto 1fr auto;
  grid-template-rows: 36px 36px 36px;
  align-items: center;

  // style - general
  border-radius: 3px;
  gap: 2px;

  // style - colour
  background-color: $bg-gray-1000;

  // style - text

  .progressBg {
    // layout
    display: none;
    height: 100%;
    width: 0;

    // style - colour
    background-color: $ontime-accent;
  }

  .binder {
    // layout
    grid-area: binder;
    height: 100%;
    display: grid;
    place-content: center;
    margin-left: 8px;

    // style - general
    border-radius: 3px 0 0 3px;

    // style - colour
    background-color: white; // override inline
    color: black;

    // style - text

    .drag {
      position: fixed;
      font-size: 24px;
    }
  }

  .playbackActions {
    // layout
    grid-area: pb-actions;
    display: flex;
    flex-direction: column;
    margin: $element-spacing 8px $element-spacing $element-spacing;
    // style - general
    gap: 6px;
  }


    .eventTimers {
      grid-area: times;
      display: flex;
      gap: $element-spacing;
    }

    .eventTitle {
      grid-area: title;
      display: block;
      font-size: 20px;
    }

    .eventNote {
      grid-area: notes;
      display: block;
      font-size: 12px;
      color: #dd6b20;
    }

  .eventActions {
    grid-area: actions;

    display: flex;
    gap: $element-spacing;
    justify-content: flex-end;
  }

  .eventStatus {
    grid-area: status;

    display: flex;
    justify-content: flex-end;
    gap: $element-spacing;
  }


  .eventOptions {
    margin: $element-spacing 16px $element-spacing 0;
  }
}